.container-circle {
  position: absolute;

  @media (min-width: 769px) {
    width: clamp(290px, 27.6vw, 530px);
    height: clamp(290px, 27.6vw, 530px);
    left: clamp(0px, 40.36vw, 775px);
    top: clamp(149px, 11.25vw, 215px);
  }

  .circle {
    box-sizing: border-box;
    position: absolute;
    opacity: 0.2;
    border: 1px solid #42567a;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .point {
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: #42567a;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    border: 1px solid rgba(48, 62, 88, 0.5);
    transition: all 0.4s ease;
    cursor: pointer;

    .point-content {
      opacity: 0;
      position: absolute;
      color: #42567a;
      left: 50%;
      top: 50%;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease 0.1s;
      // user-select: none;
    }

    &:hover {
      transform: translate(-50%, -50%) scale(1);
      background-color: #f4f5f9;

      .point-content {
        opacity: 1;
      }
    }
  }
}
